<section class="client-section padding-top " >
        <div class="top-shape-center">
            <img src="assets/css/img/gallery1.png" alt="css">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header">
                        <span class="cate">Academic Timetable</span>
                        <h3 class="title ">School Timetable</h3>
                    </div>
                </div>
            </div>
            <div class="row mb--20--50 justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="schedule-item-2 bg_img bg_contain " data-background="{{img("theme::assets/images/kenya.png").path}}">
                        <ul>
                            <li>
                                <h6 class="title painting text-underline">Term One</h6>
								
                                <span class="time">January  - April</span>
                            </li>
                            <li>
                                <h6 class="title text-underline ">Term Two</h6>
                                <span class="time">May - August</span>
                            </li>
                            <li>
                                <h6 class="title fitness text-underline">Term Three</h6>
                                <span class="time">September - November</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="schedule-item-2 bg_img bg_contain" data-background="{{img("theme::assets/images/british.png").path}}">
                        <ul>
                            <li>
                                <h6 class="title painting text-underline">Term One</h6>
                                <span class="time">September - December</span>
                            </li>
                            <li>
                                <h6 class="title text-underline">Term Two</h6>
                                <span class="time">January - April</span>
                            </li>
                            <li>
                                <h6 class="title fitness text-underline">Term Three</h6>
                                <span class="time">April - June</span>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-xl-4 col-md-6">
                    <div class="schedule-item-2 bg_img bg_contain" data-background="{{img("theme::assets/images/break.png").path}}">
                        <ul>
                            <li>
                                <h6 class="title painting text-underline">Morning Snack</h6>
                                <span class="time">10:00am-10:30am</span>
                            </li>
                            <li>
                                <h6 class="title text-underline">Lunch</h6>
                                <span class="time">12:00pm-1:00pm</span>
                            </li>
                            <li>
                                <h6 class="title fitness text-underline">Afternoon Snack</h6>
                                <span class="time">3:00pm-4:30pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
				
				
              </div>
        </div>
    </section>