<!-- Slider Area Start -->
        <div id="rs-slider" class="slider-overlay-1">     
          <div id="home-slider">
        <!-- Item 1 -->
        <div class="item active">
          <img src="{{img("theme::assets/images/slider4.jpg").path}}" alt="Slide1" />
          <div class="slide-content">
            <div class="display-table">
              <div class="display-table-cell">
                <div class="container">
                  <h1 class="slider-title" data-animation-in="fadeInLeft" data-animation-out="animate-out">WELCOME<br>TO FAIRMONTS</h1>
                  <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Children enjoy a variety of specialist classes every week to enrich learning.<br>These classes are taught by specialist teachers.</p>  
                  <a href="#" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out">READ MORE</a>
                  <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn" data-animation-out="animate-out">GET STARTED NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="item">
          <img src="{{img("theme::assets/images/slider5.jpg").path}}" alt="Slide2" />
          <div class="slide-content">
            <div class="display-table">
              <div class="display-table-cell">
                <div class="container">
                  <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">ARE YOU READY TO APPLY?</h1>
                  <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Children enjoy a variety of specialist classes every week to enrich learning.<br>These classes are taught by specialist teachers.</p>  
                  <a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
                  <a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="item">
          <img src="{{img("theme::assets/images/slider1.jpg").path}}" alt="Slide3" />
          <div class="slide-content">
            <div class="display-table">
              <div class="display-table-cell">
                <div class="container">
                  <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">ARE YOU READY TO APPLY?</h1>
                  <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Children enjoy a variety of specialist classes every week to enrich learning.<br>These classes are taught by specialist teachers.</p>  
                  <a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
                  <a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>

          </div>         
        </div>
        <!-- Slider Area End -->