<section class="page-header bg_img banner-section style-2 oh" data-background="{{img("theme::assets/images/banner/events.jpg").path}}">
        <div class="top-shape-content d-none d-lg-block">
            <img src="{{img("theme::assets/images/banner/banner04.png").path}}" alt="banner">
        </div>
        <div class="container">
            <div class="page-header-content img-cover">
                <h1 class="title text-white">Downloads</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="text-white">Home</a>
                    </li>
                    <li class="text-white">
                      Downloads
                    </li>
                </ul>
            </div>
        </div>
       
    </section>