<section class="call-in-action call-overlay bg_img padding-bottom padding-top" data-background="{{img("theme::assets/images/bg/call-bg.jpg").path}}">
        <div class="container">
        <div class="row">
       
		<div class="col-sm-6">

					<div class="call-wrapper">
						<div class="section-header mb-olpo">
							<h3 class="title">Admission Form</h3>
							<p>If you want to join with us as a trainer to share you knowledge & professional experiance, 
								We will say you welcome as our trainer family</p>
						</div>
						<div class="text-center">
							<a href="#" class="custom-button"><span>Download Now</span></a>
						</div>
					</div>
			
		</div>
		
		<div class="col-sm-6">

					<div class="call-wrapper">
						<div class="section-header mb-olpo">
							<h3 class="title">Termly Food Menu</h3>
							<p>If you want to join with us as a trainer to share you knowledge & professional experiance, 
								We will say you welcome as our trainer family</p>
						</div>
						<div class="text-center">
							<a href="#" class="custom-button"><span>Download Now</span></a>
						</div>
					</div>
			
		</div>
		
		<div class="col-sm-6">
          <br>
					<div class="call-wrapper">
						<div class="section-header mb-olpo">
							<h3 class="title">Newslettter - 2018</h3>
							<p>If you want to join with us as a trainer to share you knowledge & professional experiance, 
								We will say you welcome as our trainer family</p>
						</div>
						<div class="text-center">
							<a href="#" class="custom-button"><span>Download Now</span></a>
						</div>
					</div>
			
		</div>
		
		<div class="col-sm-6">
             <br>
					<div class="call-wrapper">
						<div class="section-header mb-olpo">
							<h3 class="title">Newslettter - 2019</h3>
							<p>If you want to join with us as a trainer to share you knowledge & professional experiance, 
								We will say you welcome as our trainer family</p>
						</div>
						<div class="text-center">
							<a href="#" class="custom-button"><span>Download Now</span></a>
						</div>
					</div>
			
		</div>
		
	</div>
	</div>

</section>