<section class="about-section pos-rel padding-bottom padding-top1 oh">
     
     <div class="padding-top about-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="rtl d-none d-lg-block pr-4  img-border">
                            <img src="{{img("theme::assets/images/about/about03.png").path}}" alt="about">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header left-style mb-olpo">
                                <span class="cate">The Brand</span>
                                <h3 class="title">About Fairmonts International School</h3>
                                <p>With a rapidly evolving world, the need to adapt and acquire skills and knowledge to stay relevant has become inevitable. Comfort, safety and enabling environment have become key factors when selecting a learning centre. Established in 2018, FIS is a private coeducational international school registered with the Ministry of education in Kenya.</p>
								
									<b>The school offers two systems:</b><br>
										1. KENYA NATIONAL CURRICULUM <br>
										2. BRITISH NATIONAL CURRICULUM 

                            </div>
                          </div>
                      </div>
					  
					    <div class="col-md-12">
						  <p>&nbsp;</p>
						  <p>&nbsp;</p>
						</div>
				  
 
					  
					
                <div class="col-lg-6">
                        <div class="about-content">					
							
                            <div class="faq-wrapper mb--10">
                                <div class="faq-item active open">
                                    <div class="faq-title">
                                        <span class="right-icon"></span><h5 class="title">Our Mission</h5>
                                    </div>
                                    <div class="faq-content">
                                     <p> Our mission is to provide an outstanding education through a safe, caring and diverse international environment, while developing our students holistically and inspiring them to reach their true potential.</p>

                                        <p>We prepare our students to attain their individual greatest potential.</p>
                                    </div>
                                </div>
                                <div class="faq-item ">
                                    <div class="faq-title">
                                        <span class="right-icon"></span><h5 class="title">Our Vision</h5>
                                    </div>
                                    <div class="faq-content">
                                        <p>Since 2007 we have been visionary and areliable software enginering 
                                        partner for worldclass brands what are bouque digital transformation 
                                        are awesome theme consultancy.</p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <span class="right-icon"></span><h5 class="title">Our Values</h5>
                                    </div>
                                    <div class="faq-content">
                                        <p>The school considers the following attributes to be of great importance to lifelong learners:
										<br> • Inquiry<br> 
										• Critical thinking<br>
										• Communication<br> 
										• Open-mindedness<br> 
										• Risk-taking<br> 
										• Creativity<br> 
										• Reflection

                                         </p>
                                    </div>
                                </div>
                            </div>
							
							
                        </div>
                    </div>
					
					   <div class="col-lg-6">			  
					  <!-- ==========Call In Action Section Starts Here========== -->
						<section class="call-in-action padding-tops padding-bot b-radius  theme-overlay bg_img " data-background="{{img("theme::assets/images/bg/call-bg.jpg").path}}">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-md-12">
										<div class="section-header left-style cl-white mb-olpo mb-md-0">
											<h2 class="mb-3 text-center text-grey">MOTTO</h2>
											<h2 class="title text-center">Building Future at tender age </h2>
										</div>
									</div>
								  
								</div>
							</div>
						</section>
						<!-- ==========Call In Action Section Ends Here========== -->
						</div>
					
                </div>
            </div>
        </div>
    </section>