 <section class="banner-section bg_img style-2 oh" data-background="{{img("theme::assets/images/banner/banner02.jpg").path}}">
        <div class="top-shape-content d-none d-lg-block">
            <img src="{{img("theme::assets/images/banner/banner04.png").path}}" alt="banner">
        </div>
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="banner-content style-2 cl-white w-100">
                    <h3 class="cate">Enrol Your Child Today</h3>
                    <h1 class="title">Students Admission</h1>
                    <p>Children will be considered for entry to the Pre-School when a completed registration form has been returned to the nursery with the registration fee of Ksh.2000. This is a non-returnable fee.</p>
					<p>
					Once the offer of a place is made a deposit shall be requested to secure your child’s place within the Pre-School. This deposit shall not be refundable unless four weeks’ notice to withdraw your child has been given in writing to the Pre-School Manager. This deposit is held until your child leaves the Pre-School and is not part payment towards your fees.
					</p>
					
					<h3 class="cate">Admissions Requirements</h3>
					<p>
					<i class="flaticon-vegan"></i> Filled application form (This will be taken to the admissions department) <br>
					<i class="flaticon-vegan"></i> Copy of Medical Records indicating any allergies <br>
					<i class="flaticon-vegan"></i> Children must be in full school uniform at the beginning of the school term that they are going to turn 3 years<br>
                   </p>
				   
				    <p>
				    Acceptance and placement is determined by the available spaces and the suitability of our school programme for your child. We provide equal opportunity in education and recreational facilities for all our children without regard to race, colour, religion or nationality.
				  </p>

                    <a href="#" class="custom-button"><span>Download Admission Form</span></a>
                </div>
   <div class="banner-thumb1 d-none d-lg-block">