 <div class="login-section padding-top ">
        <div class="container">
            <div class="account-wrapper">
                <h3 class="title">Enquiries</h3>
                <form class="account-form" action="#" method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="Your Name" name="username">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Phone" name="phone">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Subject" name="subject">
                    </div>
					
					<div class="form-group">
                        <textarea name="message" placeholder="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="d-block custom-button"><span>Get Started Now</span></button>
                    </div>
                </form>
             
            </div>
        </div>
    </div>