<section class="faqs-single-section padding-top padding-bottom">
        <div class="container">
       
            <div class="row mb--10">
                <div class="col-lg-6">
                    <div class="faq-wrapper">
                        <div class="faq-item active open">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">Can Special Needs Students be enrolled?</h5>
                            </div>
                            <div class="faq-content">
                                <p>
								  We will do all we can where possible, to accommodate children with special needs. As the nursery is committed to encouraging all children’s development we would meet with parents and the children to discuss the best possible environment for the child to be integrated into. As with all children we will monitor their development and regularly observe and track the children’s development to ensure a broad and balanced curriculum is built.
								</p>
                            </div>
                        </div>
                        <div class="faq-item ">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">Equal Opportunities?</h5>
                            </div>
                            <div class="faq-content">
                                <p>
								At FIS kindergarten, we treat all children and staff equally regardless of sex, race, religion, colour, creed, ethnic or national origin or any special need they may have.
								</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">Parents as partners?</h5>
                            </div>
                            <div class="faq-content">
                                <p>
								 FIS kindergarten recognises the important role that parents play in their children’s development and progress. All parents are encouraged to be involved in their child’s learning and take an active role both at home and at the pre-school. We encourage all parents to become familiar with the routine to ensure that there is consistency between their home life and pre-school.
								</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">How do Parents get involved in child up keep?</h5>
                            </div>
                            <div class="faq-content">
                                <p>Parents afternoons, held every term to discuss their children’s developments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-wrapper">
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">Moving on from kindergarten to Primary School?</h5>
                            </div>
                            <div class="faq-content">
                                <p>
								Fairmonts International Kindergarten provide an ideal preparation for school.<br>
Our children will be encouraged to move on to Fairmonts international school primary section so as to carry on with the same tradition set on the foundation years.<br>
Our teaching methods include aspects of inquiry, exploration and investigation. This helps provide continuity in the learning experiences for all the children who move onto FIS primary section.
								</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">Is M-Pesa payment of fee allowed</h5>
                            </div>
                            <div class="faq-content">
                                <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage existing standardized web-readiness before end to Distinctively conceptualize worldwide schemas client-centered wasin end models readiness.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">How can I pay via bank account?</h5>
                            </div>
                            <div class="faq-content">
                                <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage existing standardized web-readiness before end to Distinctively conceptualize worldwide schemas client-centered wasin end models readiness.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">What is your Admission Process?</h5>
                            </div>
                            <div class="faq-content">
                                <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage existing standardized web-readiness before end to Distinctively conceptualize worldwide schemas client-centered wasin end models readiness.</p>
                            </div>
                        </div>
						
                        <div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">How can i become a instructor?</h5>
                            </div>
                            <div class="faq-content">
                                <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage existing standardized web-readiness before end to Distinctively conceptualize worldwide schemas client-centered wasin end models readiness.</p>
                            </div>
                        </div>
						
						<div class="faq-item">
                            <div class="faq-title">
                                <span class="right-icon"></span><h5 class="title">What is the maximum population per class?</h5>
                            </div>
                            <div class="faq-content">
                                <p>Global underwhels client-centric mindshare for proactive infomediary Uniquely leverage existing standardized web-readiness before end to Distinctively conceptualize worldwide schemas client-centered wasin end models readiness.</p>
                            </div>
                        </div>
						
                    </div>
                </div>
            </div>
        </div>
    </section>